<button id="accesibilidad-toggle" style="position: fixed; top: 8px; left: 10px; z-index: 1000; background: #000; border: 2px solid #fff; color: #fff; padding: 4px 10px; border-radius: 6px; cursor: pointer; font-size: 12px; font-weight: bold;">
  Cambio de colores
</button>


<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-carrusel></app-carrusel>
  <app-nosotros></app-nosotros>
  <app-servicios></app-servicios>
  <app-ubicacion></app-ubicacion>
  <app-dashboard></app-dashboard>
  <app-redes></app-redes>
  <app-responsables></app-responsables>
</div>

<app-footer></app-footer>
